
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

header, footer,
.btn-primary, 
.btn-primary:hover,
.btn-primary:active {
    background-color: #3c6382;;
}


.btn-primary:hover,
.btn-primary:active {
   text-decoration:underline;
}


/***======*/

#root>.row * {
    color: #fff;
}

#my-dynamic-content {
    margin-bottom: 300px !important;
}

/* other Styles */
header, footer {
    color: white;
    padding: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: white
}

.main-content  {
    margin-bottom: 200px;
}

.main-content p {
    font-size: 13.5px;
    line-height: 23px;
    word-break: break-all;
}

@media only screen and (min-width: 1400px) {

    .container {
        max-width: 1400px;
    }

}
